<!-- views/partials/footer.ejs -->
        <footer class="page-footer light-blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Popcorn Database</h5>
                <p class="grey-text text-lighten-4">Check out the hottest movies!</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Popcorn Database © 2018
            </div>
          </div>
        </footer>