<!-- views/partials/header.ejs -->
<script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
})
</script>
<nav class>
  <div class="nav-wrapper indigo accent-1">
    <a href="\" class="brand-logo center">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="\">Home</a></li>
      <li><a href="">Something 1</a></li>
      <li><a href="">Something 2</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="\">Home</a></li>
      <li><a href="">Something 1</a></li>
      <li><a href="">Something 2</a></li>
    </ul>
  </div>
</nav>
