<!-- view/partials/searchForm.ejs -->
<script>

  function checkInput() {
    let userInput = $('#icon_movie').val()
    console.log(`The user input is [${userInput}].`)
    if(userInput == '') {
      $('#error').show()
      return false
    } else {
      console.log('Submitting form...')
      document.forms['searchForm'].submit()
      return true
    }
  }
  // $('#searchForm').submit(function(e) {
  //   e.preventDefault()
  // })
</script>
<form name="searchForm" class="col s12" action="/search" method="GET">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">movie</i>
      <input id="icon_movie" type="text" class="validate" name="searchTerm" onkeydown="if (event.keyCode == 13) { checkInput(); return false }">
      <label for="icon_movie">Movie</label>
      <button class="btn waves-effect waves-light" type="button" onclick="checkInput()">Search</button>
    </div>
  </div>
</form>
<div id="error" class="row display-none">
  <div class="col" >
    <p class="red">Please enter something at least! I can't read your mind!</p>
  </div>
</div>